.grid{    
    height: 90%;
    width: 96%;
    font-size: 0;
    pointer-events: unset;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    row-gap: 0px;

}

.grid-row{
    flex-grow: 1;
    display: flex;
    grid-template-rows: repeat(auto-fit, minmax(2px, 22px));
    min-width: 0;
    column-gap: 0px;
}

.grid-row > div{ 
    flex-shrink: 1;
    min-width: 0;
    flex-basis: 22px;
}
